# CREATE TABLE

In [15]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = (
    SparkSession.builder
    .appName("example-create-table")
    .enableHiveSupport()
    .getOrCreate()   
)

In [16]:
spark.sql("CREATE DATABASE IF NOT EXISTS spark_db")

DataFrame[]

In [17]:
spark.sql("USE spark_db")

DataFrame[]

In [18]:
spark.sql("""CREATE TABLE IF NOT EXISTS
              flights_tbl (date STRING, 
                           delay INT, 
                           distance INT, 
                           origin STRING, 
                           destination STRING)""")

AnalysisException: Hive support is required to CREATE Hive TABLE (AS SELECT);;
'CreateTable `flights_tbl`, org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe, Ignore