# CREATE DATAFRAME

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.expressions import *

spark = (
    SparkSession.builder
    .appName("example-create-dataframe")
    .getOrCreate()
)

ModuleNotFoundError: No module named 'pyspark.sql.expressions'

In [6]:
colorDf = spark.createDataFrame([('red',), ('blue',), ('green',)], ['color'])
colorDf.show()

+-----+
|color|
+-----+
|  red|
| blue|
|green|
+-----+

In [6]:
# NameError: name 'CharType' is not defined
tmp = spark.createDataFrame((("summer", 4.5), ("winter", 7.5)), 
                            StructType([StructField("season", CharType()), 
                                          StructField("season", DoubleType())]))

NameError: name 'CharType' is not defined

In [7]:
tmp = spark.createDataFrame([("summer", 4.5), ("winter", 7.5)], ["season", "wind_speed_ms"])
tmp.printSchema()
tmp.show()

root
 |-- season: string (nullable = true)
 |-- wind_speed_ms: double (nullable = true)

+------+-------------+
|season|wind_speed_ms|
+------+-------------+
|summer|          4.5|
|winter|          7.5|
+------+-------------+

In which order should the code blocks shown below be run in order to create a table of all values in column attributes next to the respective values in column supplier in DataFrame itemsDf?
>
- `1. itemsDf.createOrReplaceView(“itemsDf”)`
- `2. spark.sql(“FROM itemsDf SELECT ‘supplier’, explode(‘Attributes’)”)`
- `3. spark.sql(“FROM itemsDf SELECT supplier, explode(attributes)”)`
- `4. itemsDf.createOrReplaceTempView(“itemsDf”)`

In [8]:
data = [(1, 'Thick Coat for Walking in the Snow', ['blue', 'winter', 'cozy'], 'Sports Company Inc.'),
        (2, 'Elegant Outdoors Summer Dress', ['red', 'summer'], 'YetiX'),
        (3, 'Outdoors Backpack', ['green', 'summer'], 'Sports Company Inc.')]

columns = ["itemId", "itemName", "attributes", "supplier"]

itemsDf = spark.createDataFrame(data=data, schema=columns)

itemsDf.printSchema()
itemsDf.show()

root
 |-- itemId: long (nullable = true)
 |-- itemName: string (nullable = true)
 |-- attributes: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- supplier: string (nullable = true)

+------+--------------------+--------------------+-------------------+
|itemId|            itemName|          attributes|           supplier|
+------+--------------------+--------------------+-------------------+
|     1|Thick Coat for Wa...|[blue, winter, cozy]|Sports Company Inc.|
|     2|Elegant Outdoors ...|       [red, summer]|              YetiX|
|     3|   Outdoors Backpack|     [green, summer]|Sports Company Inc.|
+------+--------------------+--------------------+-------------------+

In [19]:
itemsDf.createOrReplaceTempView("itemsDf")

In [20]:
spark.sql("FROM itemsDf SELECT supplier, explode(attributes)").show()

+-------------------+------+
|           supplier|   col|
+-------------------+------+
|Sports Company Inc.|  blue|
|Sports Company Inc.|winter|
|Sports Company Inc.|  cozy|
|              YetiX|   red|
|              YetiX|summer|
|Sports Company Inc.| green|
|Sports Company Inc.|summer|
+-------------------+------+

In [14]:
# AttributeError: 'DataFrame' object has no attribute 'createOrReplaceView'
itemsDf.createOrReplaceView("itemsDf")

# AnalysisException: cannot resolve 'explode('Attributes')'
spark.sql("FROM itemsDf SELECT 'supplier', explode('Attributes')")

AttributeError: 'DataFrame' object has no attribute 'createOrReplaceView'