# DATE_SUB()

In [16]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = (
    SparkSession.builder
    .appName("example-date_sub")
    .getOrCreate()
)

In [17]:
data = [('James','','Smith','1991-04-01','M',3000),
        ('Michael','Rose','','2000-05-19','M',4000),
        ('Robert','','Williams','1978-09-05','M',4000),
        ('Maria','Anne','Jones','1967-12-01','F',4000),
        ('Jen','Mary','Brown','1980-02-17','F',-1)]

columns = ["firstname", "middlename", "lastname", "dob", "gender", "salary"]

df = spark.createDataFrame(data=data, schema = columns)

In [18]:
df.withColumn("week_ago", date_sub(col("dob"), 7)).show()

+---------+----------+--------+----------+------+------+----------+
|firstname|middlename|lastname|       dob|gender|salary|  week_ago|
+---------+----------+--------+----------+------+------+----------+
|    James|          |   Smith|1991-04-01|     M|  3000|1991-03-25|
|  Michael|      Rose|        |2000-05-19|     M|  4000|2000-05-12|
|   Robert|          |Williams|1978-09-05|     M|  4000|1978-08-29|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|1967-11-24|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|1980-02-10|
+---------+----------+--------+----------+------+------+----------+

In [14]:
df.withColumn("week_ago", col("dob") - 7).show()

+---------+----------+--------+----------+------+------+--------+
|firstname|middlename|lastname|       dob|gender|salary|week_ago|
+---------+----------+--------+----------+------+------+--------+
|    James|          |   Smith|1991-04-01|     M|  3000|    null|
|  Michael|      Rose|        |2000-05-19|     M|  4000|    null|
|   Robert|          |Williams|1978-09-05|     M|  4000|    null|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|    null|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|    null|
+---------+----------+--------+----------+------+------+--------+

In [15]:
df.withColumn("week_ago", expr("dob - 7")).show()

+---------+----------+--------+----------+------+------+--------+
|firstname|middlename|lastname|       dob|gender|salary|week_ago|
+---------+----------+--------+----------+------+------+--------+
|    James|          |   Smith|1991-04-01|     M|  3000|    null|
|  Michael|      Rose|        |2000-05-19|     M|  4000|    null|
|   Robert|          |Williams|1978-09-05|     M|  4000|    null|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|    null|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|    null|
+---------+----------+--------+----------+------+------+--------+