# EXPLODE() + SELECT() + SPLIT()

Question

The code block displayed below contains an error. The code block should create DataFrame itemsAttributesDf which has columns itemId and attribute and lists every attribute from the attributes column in DataFrame itemsDf next to the itemId of the respective row in itemsDf. Find the error.

A sample of DataFrame itemsDf is below.
>

- `+——————+—————————————————————————————+———————————————————+`
- `|itemId|attributes                   |supplier           |`
- `+——————+—————————————————————————————+———————————————————+`
- `|1     |[blue, winter, cozy]         |Sports Company Inc.|`
- `|2     |[red, summer, fresh, cooling]|YetiX              |`
- `|3     |[green, summer, travel]      |Sports Company Inc.|`
- `+——————+—————————————————————————————+———————————————————+`

Code block:

`itemsAttributesDf = itemsDf.explode("attributes").alias("attribute").select("attribute", "itemId")`

In [41]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = (
    SparkSession.builder
    .appName("example-explode-select-split")
    .getOrCreate()
)

In [30]:
data = [
        ('1',['blue', 'winter', 'cozy'],'Sports Company Inc.'),
        ('2',['red', 'summer', 'fresh', 'cooling'],'YetiX'),
        ('3',['green', 'summer', 'travel'],'Sports Company Inc.')]

itemsDf = spark.createDataFrame(data=data, schema = ['itemId','attributes','supplier'])
itemsDf.printSchema()
itemsDf.show()

root
 |-- itemId: string (nullable = true)
 |-- attributes: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- supplier: string (nullable = true)

+------+--------------------+-------------------+
|itemId|          attributes|           supplier|
+------+--------------------+-------------------+
|     1|[blue, winter, cozy]|Sports Company Inc.|
|     2|[red, summer, fre...|              YetiX|
|     3|[green, summer, t...|Sports Company Inc.|
+------+--------------------+-------------------+

In [ ]:
# AttributeError: 'DataFrame' object has no attribute 'explode'
itemsAttributesDf = itemsDf.explode("attributes").alias("attribute").select("attribute", "itemId")

In [3]:
itemsAttributesDf = itemsDf.select(explode("attributes").alias("attribute"),"itemId")
itemsAttributesDf.printSchema()
itemsAttributesDf.show()

root
 |-- attribute: string (nullable = true)
 |-- itemId: string (nullable = true)

+---------+------+
|attribute|itemId|
+---------+------+
|     blue|     1|
|   winter|     1|
|     cozy|     1|
|      red|     2|
|   summer|     2|
|    fresh|     2|
|  cooling|     2|
|    green|     3|
|   summer|     3|
|   travel|     3|
+---------+------+

In [4]:
itemsDf.show()

+------+--------------------+-------------------+
|itemId|          attributes|           supplier|
+------+--------------------+-------------------+
|     1|[blue, winter, cozy]|Sports Company Inc.|
|     2|[red, summer, fre...|              YetiX|
|     3|[green, summer, t...|Sports Company Inc.|
+------+--------------------+-------------------+

In [6]:
# AnalysisException: cannot resolve '(NOT `attributes`)' due to data type mismatch: argument 1 requires boolean type, however, '`attributes`' is of array<string> type.
itemsDf.select(~col('attributes'), ~col('supplier'))

AnalysisException: cannot resolve '(NOT `attributes`)' due to data type mismatch: argument 1 requires boolean type, however, '`attributes`' is of array<string> type.;;
'Project [NOT attributes#1 AS (NOT attributes)#53, NOT supplier#2 AS (NOT supplier)#54]
+- LogicalRDD [itemId#0, attributes#1, supplier#2], false

In [7]:
# The code block is intended to return all columns of DataFrame except for columns attributes and supplier
itemsDf.drop('attributes','supplier').show()

+------+
|itemId|
+------+
|     1|
|     2|
|     3|
+------+

In [5]:
itemsDf.select(explode("attributes").alias("attributes_exploded")).filter(col("attributes_exploded").contains("i")).show()

+-------------------+
|attributes_exploded|
+-------------------+
|             winter|
|            cooling|
+-------------------+

In [ ]:
# NameError: name 'attributes_exploded' is not defined
itemsDf.select(explode("attributes").alias("attributes_exploded")).filter(attributes_exploded.contains("i"))

# AttributeError: 'DataFrame' object has no attribute 'explode'
itemsDf.explode(attributes).alias("attributes_exploded").filter(col("attributes_exploded").contains("i"))

# AttributeError: 'str' object has no attribute 'contains'
itemsDf.select(explode("attributes")).filter("attributes_exploded".contains("i"))

# TypeError: 'Column' object is not callable
itemsDf.select(col("attributes").explode().alias("attributes_exploded")).filter(col("attributes_exploded").contains("i"))

Which of the following code blocks returns a single-column DataFrame showing the number of words in column supplier of DataFrame itemsDf?
>
- `itemsDf.split("supplier", " ").count()`
- `itemsDf.split("supplier", " ").size()`
- `itemsDf.select(word_count("supplier"))`
- `spark.select(size(split(col(supplier), " ")))`
- `itemsDf.select(size(split("supplier", " ")))`

In [12]:
itemsDf.select(size(split("supplier", " "))).show()

+----------------------------+
|size(split(supplier,  , -1))|
+----------------------------+
|                           3|
|                           1|
|                           3|
+----------------------------+

In [14]:
from pyspark.sql.types import *

data = [(1, 3, 4, 25, 1, None, 1587915332),
         (2, 6, 7, 2, 2, None, 1586815312),
         (3, 3, None, 25, 3, None, 1585824821),
         (4, None, None, 3, 2, None, 1583244275),
         (5, None, None, None, 2, None, 1575285427),
         (6, 3, 2, 25, 2, None, 1572733275)]

schema = StructType([StructField('transactionId', IntegerType(), True),
                     StructField('predError', IntegerType(), True),
                     StructField('value', IntegerType(), True),
                     StructField('storeId', IntegerType(), True),
                     StructField('productId', IntegerType(), True),
                     StructField('f', IntegerType(), True),
                     StructField('transactionDate', LongType(), True)])

transactionsDf = spark.createDataFrame(data=data, schema=schema)

In [ ]:
transactionsDf.select('storeId', 'predError').collect()

The code block shown below should return a DataFrame with columns transactionsId, predError, value, and f from DataFrame transactionsDf. Choose the answer that correctly fills the blanks in the code block to accomplish this.
>
- `transactionsDf.__1__(__2__)`
>
- `1. filter 2. "transactionId", "predError", "value", "f"`
- `1. select 2. "transactionId, predError, value, f"`
- `1. select 2. ["transactionId", "predError", "value", "f"]`
- `1. where 2. col("transactionId"), col("predError"), col("value"), col("f")`
- `1. select 2. col(["transactionId", "predError", "value", "f"])`

In [16]:
transactionsDf.select(["transactionId", "predError", "value", "f"]).show()

+-------------+---------+-----+----+
|transactionId|predError|value|   f|
+-------------+---------+-----+----+
|            1|        3|    4|null|
|            2|        6|    7|null|
|            3|        3| null|null|
|            4|     null| null|null|
|            5|     null| null|null|
|            6|        3|    2|null|
+-------------+---------+-----+----+

The code block shown below should return a single-column DataFrame with a column named consonant_ct that, for each row, shows the number of consonants in column itemName of DataFrame itemsDf. Choose the answer that correctly fills the blanks in the code block to accomplish this.
>
- `itemsDf.select(__1__(__2__(__3__(__4__), “a|e|i|o|u|s”, “”)).__5__(“consonant_ct”))`
>
- `1. length 2. regexp_extract 3. upper 4. col("itemName") 5. as`
- `1. size 2. regexp_replace 3. lower 4. "itemName" 5. alias`
- `1. lower 2. regexp_replace 3. length 4. "itemName" 5. alias`
- `1. length 2. regexp_replace 3. lower 4. col("itemName") 5. alias`
- `1. size 2. regexp_extract 3. lower 4. col("itemName") 5. alias`

In [28]:
data = [(1, 'Thick Coat for Walking in the Snow', ['blue', 'winter', 'cozy'], 'Sports Company Inc.'),
        (2, 'Elegant Outdoors Summer Dress', ['red', 'summer'], 'YetiX'),
        (3, 'Outdoors Backpack', ['green', 'summer'], 'Sports Company Inc.')]

columns = ["itemId", "itemName", "attributes", "supplier"]

itemsDf = spark.createDataFrame(data=data, schema=columns)

itemsDf.printSchema()
itemsDf.show(truncate=False)

root
 |-- itemId: long (nullable = true)
 |-- itemName: string (nullable = true)
 |-- attributes: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- supplier: string (nullable = true)

+------+----------------------------------+--------------------+-------------------+
|itemId|itemName                          |attributes          |supplier           |
+------+----------------------------------+--------------------+-------------------+
|1     |Thick Coat for Walking in the Snow|[blue, winter, cozy]|Sports Company Inc.|
|2     |Elegant Outdoors Summer Dress     |[red, summer]       |YetiX              |
|3     |Outdoors Backpack                 |[green, summer]     |Sports Company Inc.|
+------+----------------------------------+--------------------+-------------------+

In [24]:
itemsDf.select(lower(regexp_replace(length("itemName"), "a|e|i|o|u|s", "")) \
       .alias("consonant_ct")) \
       .show()

+------------+
|consonant_ct|
+------------+
|          34|
|          29|
|          17|
+------------+

In [26]:
itemsDf.select(length(regexp_replace(lower(col("itemName")), "a|e|i|o|u|s", "")) \
       .alias("consonant_ct")) \
       .show()

+------------+
|consonant_ct|
+------------+
|          24|
|          15|
|          10|
+------------+

In [ ]:
# y4JError: An error occurred while calling z:org.apache.spark.sql.functions.regexp_extract
itemsDf.select(size(regexp_extract(lower(col("itemName")), "a|e|i|o|u|s", "")).alias("consonant_ct"))

# SyntaxError: invalid syntax "as"
itemsDf.select(length(regexp_extract(upper(col("itemName")), "a|e|i|o|u|s", "")).as("consonant_ct"))

# AnalysisException: cannot resolve 'size(regexp_replace(lower(`itemName`), 'a|e|i|o|u|s', ''))' due to data type mismatch
itemsDf.select(size(regexp_replace(lower("itemName"), "a|e|i|o|u|s", "")).alias("consonant_ct"))

In [31]:
itemsDf.show()

+------+--------------------+-------------------+
|itemId|          attributes|           supplier|
+------+--------------------+-------------------+
|     1|[blue, winter, cozy]|Sports Company Inc.|
|     2|[red, summer, fre...|              YetiX|
|     3|[green, summer, t...|Sports Company Inc.|
+------+--------------------+-------------------+

In [33]:
itemsDf.select("itemId").show()

+------+
|itemId|
+------+
|     1|
|     2|
|     3|
+------+

In [37]:
itemsDf.selectExpr("itemId", "case when (itemId < 3) then itemId * 0.20 else 0 end as increment").show()

+------+---------+
|itemId|increment|
+------+---------+
|     1|      0.2|
|     2|      0.4|
|     3|      0.0|
+------+---------+

Given the following Data Frame definition.
>
- `df = spark.range(500).toDF(“number”)`
>
Choose the incorrect expression
>
- `df.select("number" + 10)`
- `df.select(df["number"] + 10)`
- `df.select(expr("number + 10"))`
- `df.select(col("number") + 10)`

In [42]:
df = spark.range(500).toDF('number')

In [50]:
df.select(df["number"] + 10)

DataFrame[(number + 10): bigint]

In [48]:
df.select(expr("number + 10"))

DataFrame[(number + 10): bigint]

In [55]:
df.select(col("number") + 10)

DataFrame[(number + 10): bigint]

In [ ]:
# TypeError: can only concatenate str (not "int") to str
df.select("number" + 10)

In [57]:
 df.selectExpr("number", "if(number < 20, number * 0.20 , 0) as increment").show()

+------+---------+
|number|increment|
+------+---------+
|     0|     0.00|
|     1|     0.20|
|     2|     0.40|
|     3|     0.60|
|     4|     0.80|
|     5|     1.00|
|     6|     1.20|
|     7|     1.40|
|     8|     1.60|
|     9|     1.80|
|    10|     2.00|
|    11|     2.20|
|    12|     2.40|
|    13|     2.60|
|    14|     2.80|
|    15|     3.00|
|    16|     3.20|
|    17|     3.40|
|    18|     3.60|
|    19|     3.80|
+------+---------+
only showing top 20 rows

Which of the following code blocks returns a DataFrame with a new column salary_increment and all previously existing columns.
>
- `df.withColumn("salary_increment", "salary * 0.15")`
- `df.select("*", expr("salary * 0.15").alias("salary_increment"))`
- `df.selectExpr("*", expr("salary * 0.15").alias("salary_increment"))`
- `All of the above`

In [58]:
data = [('James','','Smith','1991-04-01','M',3000),
        ('Michael','Rose','','2000-05-19','M',4000),
        ('Robert','','Williams','1978-09-05','M',4000),
        ('Maria','Anne','Jones','1967-12-01','F',4000),
        ('Jen','Mary','Brown','1980-02-17','F',-1)]

columns = ["firstname", "middlename", "lastname", "dob", "gender", "salary"]

df = spark.createDataFrame(data=data, schema = columns)

In [62]:
df.select("*", expr("salary * 0.15").alias("salary_increment")).show()

+---------+----------+--------+----------+------+------+----------------+
|firstname|middlename|lastname|       dob|gender|salary|salary_increment|
+---------+----------+--------+----------+------+------+----------------+
|    James|          |   Smith|1991-04-01|     M|  3000|          450.00|
|  Michael|      Rose|        |2000-05-19|     M|  4000|          600.00|
|   Robert|          |Williams|1978-09-05|     M|  4000|          600.00|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|          600.00|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|           -0.15|
+---------+----------+--------+----------+------+------+----------------+

In [ ]:
# AssertionError: col should be Column
df.withColumn("salary_increment", "salary * 0.15")

# TypeError: Column is not iterable
df.selectExpr("*", expr("salary * 0.15").alias("salary_increment"))

In [67]:

df.withColumn("now", now())

NameError: name 'now' is not defined