# WITHCOLUMN() + WITHCOLUMNRENAMED()

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = (
    SparkSession.builder
    .appName("example-withcolumn-2")
    .getOrCreate()
)

In [2]:
data = [('James','','Smith','1991-04-01','M',3000),
        ('Michael','Rose','','2000-05-19','M',4000),
        ('Robert','','Williams','1978-09-05','M',4000),
        ('Maria','Anne','Jones','1967-12-01','F',4000),
        ('Jen','Mary','Brown','1980-02-17','F',-1)]

columns = ["firstname", "middlename", "lastname", "dob", "gender", "salary"]

df = spark.createDataFrame(data=data, schema = columns)

In [ ]:
# Change DataType using PySpark withColumn()
df.withColumn("salary",col("salary").cast("Integer")).show()

In [ ]:
# Update The Value of an Existing Column
df.withColumn("salary", col("salary") * 10).show()

In [ ]:
# Update The Value of an Existing Column - squared value of column salary
df.withColumn("new_salary", pow(col("salary"), lit(2))).show()

In [ ]:
# Rename Column Name
df.withColumnRenamed("gender","sex").show(truncate=False)

In [ ]:
# Drop Column From PySpark DataFrame
df.drop("new_salary").show()

In [4]:
df.withColumn("salary_increment", expr("salary * 0.15")) \
  .withColumn("new_salary", expr("salary + salary_increment")) \
  .show()

+---------+----------+--------+----------+------+------+----------------+----------+
|firstname|middlename|lastname|       dob|gender|salary|salary_increment|new_salary|
+---------+----------+--------+----------+------+------+----------------+----------+
|    James|          |   Smith|1991-04-01|     M|  3000|          450.00|   3450.00|
|  Michael|      Rose|        |2000-05-19|     M|  4000|          600.00|   4600.00|
|   Robert|          |Williams|1978-09-05|     M|  4000|          600.00|   4600.00|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|          600.00|   4600.00|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|           -0.15|     -1.15|
+---------+----------+--------+----------+------+------+----------------+----------+

Which of the following code blocks returns a DataFrame with an added column to DataFrame transactionsDf that shows the unix epoch timestamps in column transactionDate as strings in the format month/day/year in column transactionDateFormatted?
>

- `+————————————-+—————————+—–———+——————-+—————————+———-+———————————————+`
- `|transactionId|predError|value|storeId|productId| f  |transactionDate|`
- `+————————————-+—————————+————–+——————-+—————————+———-+———————————————+`
- `| 1           | 3       | 4   | 25    | 1       |null| 1587915332    |`
- `| 2           | 6       | 7   | 2     | 2       |null| 1586815312    |`
- `| 3           | 3       | null| 25    | 3       |null| 1585824821    |`
- `| 4           | null    | null| 3     | 2       |null| 1583244275    |`
- `| 5           | null    | null| null  | 2       |null| 1575285427    |`
- `| 6           | 3       | 2   | 25    | 2       |null| 1572733275    |`
- `+————————————-+—————————+—–———+——————-+—————————+———-+———————————————+`

>
- `transactionsDf.withColumn("transactionDateFormatted", from_unixtime("transactionDate", format="dd/MM/yyyy"))`
- `transactionsDf.withColumnRenamed("transactionDate", "transactionDateFormatted", from_unixtime("transactionDateFormatted", format="MM/dd/yyyy"))`
- `transactionsDf.apply(from_unixtime(format="MM/dd/yyyy")).asColumn("transactionDateFormatted")`
- `transactionsDf.withColumn("transactionDateFormatted", from_unixtime("transactionDate", format="MM/dd/yyyy"))`
- `transactionsDf.withColumn("transactionDateFormatted", from_unixtime("transactionDate"))`

In [ ]:
data = [(1, 3, 4, 25, 1, None, 1587915332),
         (2, 6, 7, 2, 2, None, 1586815312),
         (3, 3, None, 25, 3, None, 1585824821),
         (4, None, None, 3, 2, None, 1583244275),
         (5, None, None, None, 2, None, 1575285427),
         (6, 3, 2, 25, 2, None, 1572733275)]

schema = StructType([StructField('transactionId', IntegerType(), True),
                     StructField('predError', IntegerType(), True),
                     StructField('value', IntegerType(), True),
                     StructField('storeId', IntegerType(), True),
                     StructField('productId', IntegerType(), True),
                     StructField('f', IntegerType(), True),
                     StructField('transactionDate', LongType(), True)])

transactionsDf = spark.createDataFrame(data=data, schema=schema)

In [ ]:
transactionsDf.printSchema()
transactionsDf.show()

In [ ]:
transactionsDf.withColumn("transactionDateFormatted", from_unixtime("transactionDate", format="dd/MM/yyyy")).show()

In [ ]:
transactionsDf.withColumn("transactionDateFormatted", from_unixtime("transactionDate", format="MM/dd/yyyy")).show()

In [ ]:
transactionsDf.withColumn("transactionDateFormatted", from_unixtime("transactionDate")).show()

In [ ]:
# TypeError: withColumnRenamed() takes 3 positional arguments but 4 were given
transactionsDf.withColumnRenamed("transactionDate", "transactionDateFormatted", from_unixtime("transactionDateFormatted", format="MM/dd/yyyy")).show()

# AttributeError: 'DataFrame' object has no attribute 'apply'
transactionsDf.apply(from_unixtime(format="MM/dd/yyyy")).asColumn("transactionDateFormatted").show()

The code block displayed below contains an error. The code block should use Python method find_most_freq_letter to find the letter present most in column itemName of DataFrame itemsDf and return it in a new column most_frequent_letter. Find the error.
>
Code block:
>
- `find_most_freq_letter_udf = udf(find_most_freq_letter)`
- `itemsDf.withColumn(“most_frequent_letter”, find_most_freq_letter(“itemName”))`

The code block shown below should return a copy of DataFrame transactionsDf without columns value and productId and with an additional column associateId that has the value 5. Choose the answer that correctly fills the blanks in the code block to accomplish this.
>
- `transactionsDf.__1__(__2__, __3__).__4__(__5__, ‘value’)`
>
- `1. withColumn 2. 'associateId' 3. 5 4. remove 5. 'productId'`
- `1. withNewColumn 2. associateId 3. lit(5) 4. drop 5. productId`
- `1. withColumn 2. 'associateId' 3. lit(5) 4. drop 5. 'productId'`
- `1. withColumnRenamed 2. 'associateId' 3. 5 4. drop 5. 'productId'`
- `1. withColumn 2. col(associateId) 3. lit(5) 4. drop 5. col(productId)`

In [ ]:
transactionsDf.withColumn('associateId', lit(5)).drop('productId', 'value').show()

In [ ]:
# AssertionError: col should be Column
transactionsDf.withColumn('associateId', 5).remove('productId', 'value')

# AttributeError: 'DataFrame' object has no attribute 'withNewColumn'
transactionsDf.withNewColumn('associateId', lit(5)).drop(productId, 'value')

# Py4JError: An error occurred while calling o133.withColumnRenamed
transactionsDf.withColumnRenamed('associateId', 5).drop('productId', 'value').show()

# col(productId)
transactionsDf.withColumn(col(associateId), lit(5)).drop(col(productId), 'value').show()

Which of the following code blocks adds a column predErrorSqrt to DataFrame transactionsDf that is the square root of column predError?

In [ ]:
transactionsDf.withColumn("predErrorSqrt", sqrt(col("predError"))).show()

In [ ]:
transactionsDf.select(sqrt("predError")).show()

In [ ]:
# NameError: name 'predError' is not defined
transactionsDf.withColumn("predErrorSqrt", sqrt(predError))

# NameError: name 'predError' is not defined
transactionsDf.select(sqrt(predError))

# TypeError: 'Column' object is not callable
transactionsDf.withColumn("predErrorSqrt", col("predError").sqrt())

Which of the following code blocks returns a copy of DataFrame transactionsDf where the column storeId has been converted to string type?

>

- `transactionsDf.withColumn("storeId", convert("storeId", "string"))`
- `transactionsDf.withColumn("storeId", col("storeId", "string"))`
- `transactionsDf.withColumn("storeId", col("storeId").convert("string"))`
- `transactionsDf.withColumn("storeId", col("storeId").cast("string"))`
- `transactionsDf.withColumn("storeId", convert("storeId").as("string"))`

In [ ]:
transactionsDf.withColumn("storeId", col("storeId").cast("string")).printSchema()

In [ ]:
# NameError: name 'convert' is not defined
transactionsDf.withColumn("storeId", convert("storeId", "string"))

# TypeError: _() takes 1 positional argument but 2 were given
transactionsDf.withColumn("storeId", col("storeId", "string"))

# TypeError: 'Column' object is not callable
transactionsDf.withColumn("storeId", col("storeId").convert("string"))

# SyntaxError: invalid syntax
transactionsDf.withColumn("storeId", convert("storeId").as("string"))

Which of the following code blocks returns a DataFrame with a new column salary_increment and all previously existing columns.
>
- `df.selectExpr("*", "salary * 0.15")`
- `df.withColumn("salary_increment", expr("salary * 0.15"))`
- `df.withColumn("salary_increment", "salary * 0.15")`
- `df.selectExpr("*", "salary * 0.15 as salary_increment")`

In [ ]:
df.selectExpr("*", "salary * 0.15").show()

In [ ]:
df.withColumn("salary_increment", expr("salary * 0.15")).show()

In [ ]:
df.selectExpr("*", "salary * 0.15 as salary_increment").show()

In [ ]:
# AssertionError: col should be Column
df.withColumn("salary_increment", "salary * 0.15")

You are given a DataFrame as shown below.
>
- `+——-+—-+———-+`
- `|BatchID|Year|CourseName|`
- `+——-+—-+———-+`
- `| X1 |2020| Scala |`
- `| X2 |2020| Python |`
- `| X3 |null| Java |`
- `| X4 |2021| Scala |`
- `| X5 |null| Python |`
- `| X6 |2021| Spark |`
- `+——-+—-+———-+`
>
You want to transform the Year column and replace all nulls with the value 2021. Choose the correct option from the given code blocks.
>
- `df.withColumn("Year", coalesce(col("Year"), "2021"))`
- `df.withColumn("Year", coalesce(col("Year"), lit("2021")))`
- `df.withColumn("Year", coalesce(col("Year"), col("2021")))`
- `df.withColumn("Year", coalesce(col("Year"), expr("2021")))`

In [2]:
data = [
        ('X1',2020,'Scala'),
        ('X2',2020,'Python'),
        ('X3',None,'Java'),
        ('X4',2021,'Scala'),
        ('X5',None,'Python'),
        ('X6',2021,'Spark')]

df = spark.createDataFrame(data=data, schema = ['BatchID','Year','CourseName'])
df.printSchema()
df.show()

root
 |-- BatchID: string (nullable = true)
 |-- Year: long (nullable = true)
 |-- CourseName: string (nullable = true)

+-------+----+----------+
|BatchID|Year|CourseName|
+-------+----+----------+
|     X1|2020|     Scala|
|     X2|2020|    Python|
|     X3|null|      Java|
|     X4|2021|     Scala|
|     X5|null|    Python|
|     X6|2021|     Spark|
+-------+----+----------+

In [ ]:
df.withColumn("Year", coalesce(col("Year"), lit("2021"))).show()

In [ ]:
df.withColumn("Year", coalesce(col("Year"), expr("2021"))).show()

In [ ]:
# AnalysisException: cannot resolve '`2021`' given input columns: [BatchID, CourseName, Year]
df.withColumn("Year", coalesce(col("Year"), "2021"))

# AnalysisException: cannot resolve '`2021`' given input columns: [BatchID, CourseName, Year]
df.withColumn("Year", coalesce(col("Year"), col("2021")))

Which function will you use to add a new field in your DataFrame with a current timestamp?

In [ ]:
df.withColumn("now", current_timestamp()).show(truncate=False)

In [4]:
df.withColumn("Year", expr("ifnull(Year, '2021')")).show()

+-------+----+----------+
|BatchID|Year|CourseName|
+-------+----+----------+
|     X1|2020|     Scala|
|     X2|2020|    Python|
|     X3|2021|      Java|
|     X4|2021|     Scala|
|     X5|2021|    Python|
|     X6|2021|     Spark|
+-------+----+----------+